@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
* {box-sizing: border-box;}
body, button { /* not sure why buttons don't get this by inheritance */
	font-family: 'Lexend', 'Noto Color Emoji', 'Noto Sans Symbols 2', sans-serif; /* Match the font names with the ones used in command_gui.js */
	line-height: 1.3;
}
code, pre {
	font-family: monospace, 'Noto Color Emoji', 'Noto Sans Symbols 2';
	font-size: 12px; /* For some reason, just specifying the family doesn't do what I expect; respecifying the size ensures that it stays the same */
}

main {
	max-width: 1200px;
	margin: auto;
	background-color: #eeeeee;
	padding: 0 0.5em;
}

h1,h2,h3 {
	max-width: max-content;
	margin-left: auto; margin-right: auto;
}
