main {
	max-width: 1200px;
	margin: auto;
	background: #eee;
	padding: 0 0.5em;
	min-height: 95vh;
}

h1 {max-width: max-content; margin: auto;}

#error {
	position: fixed;
	top: 1em; left: 50%; transform: translateX(-50%); /* Position: top center */
	border: 1px solid red;
	background: #fbb;
	font-size: 150%;
	padding: 2em;
}

#now_parsing {
	border: 1px solid cyan;
	background: #dff;
	padding: 0.5em;
	margin-bottom: 0.5em;
}

#menu {
	background: #efe;
	border: 1px solid green;
	padding: 0.5em;
}

.hidden {display: none}

details {
	border: 1px solid black;
	margin: 1em 0;
}
table {
	border-collapse: collapse;
	margin: 0.25em;
}
td {padding: 2px;}

.bulletless {
	list-style-type: none;
}
#trade_nodes details {
	margin: 1em 1em;
	padding: 0 1.5em;
}
#trade_nodes details summary {
	margin-left: -1em;
}

/* Highlighting is always done with the same CSS classes, but the precise
color choice can be overridden based on its parent. */
.interesting3 {background: #bfd;}
.interesting2 {background: #bfd;}
.interesting1 {background: #bff;}
/* .interesting0 gets no background change */

#wars details {
	margin: 1em;
}

#wars .attacker {background: #e1c0c0;}
#wars .attacker-player {background: #e1c300;}
#wars .attacker-total {background: #cd8080;}
#wars .defender {background: #c0c0e1;}
#wars .defender-player {background: #00c3e1;}
#wars .defender-total {background: #8080cd;}

.provbtn {
	margin-left: 0.25em;
	cursor: pointer;
	background: #ccffff;
	border: 1px solid #bbdddd;
}

#options {
	position: fixed;
	top: 0.25em; right: 0.25em;
	border: 1px solid black;
	background: #ffeeff;
	padding: 0 0.5em;
}

.province, .country {
	display: inline-block;
	white-space: nowrap;
	text-indent: 0;
}
#upgradeables .province {margin-left: 1em;}

#colonization_targets ul {margin: 0;}

#interesting_details {margin: 0;}
#interesting_details li {
	margin: 1em 0;
	cursor: pointer;
}

.provgroup {
	display: inline-block;
	font-weight: bold;
	cursor: pointer;
	border: 2px solid transparent;
}
.provgroup.empty {cursor: default;} /* Not "inherit" which would give an ibeam */
.provgroup.clear {font-size: 60%;}
.size-1: {font-size: 1.5em;}
.size-2: {font-size: 1.175em;}
.size-3: {font-size: 1em;}
.provgroup.selected {border-color: blue;}
.province.selected {border: 2px solid blue;}
.provnext {
	cursor: pointer;
	color: aliceblue;
	background: #8888ff;
	font-size: 60%;
}

.indent {padding-left: 1em;}

#search strong {
	background: #efe;
}

.caution {margin: 0 0.5em; cursor: default;}

.flag.small {
	width: 24px; height: 24px;
	vertical-align: bottom;
}
.flag.large {
	display: block;
	width: 128px; height: 128px;
	margin: auto;
}
#hovercountry {
	margin: 0.5em;
	border: 1px solid black;
	padding: 0.5em;
	position: relative;
	max-width: 251px;
}
#hovercountry li {
	padding-left: 1em; /* Indent wrapped lines */
	text-indent: -1em;
}
#hovercountry h3 {
	margin: 0;
	text-align: center; /* Center the country name under the flag */
}
#hovercountry .close {
	position: absolute;
	right: 0; top: 0;
	cursor: pointer;
}
#hovercountry .country {cursor: pointer;}

.tech {padding: 0 0.25em;}
.tech.above {background: #fbd;}
.tech.below {background: #efe;}

#recent_peace_treaties li {
	color: white;
	background: black;
	margin: 0.5em 1em 0.5em 0;
	padding: 0.25em 0.5em;
}
#recent_peace_treaties img {
	vertical-align: middle;
}

#truces li {
	margin: 0.4em 0;
}

.hoverinactive .hovercountry {display: none;}

.sorthead {
	cursor: pointer;
}

dialog > section {
	display: flex;
	flex-direction: column;
}
dialog > section > header {
	display: flex;
	justify-content: space-between;
}
dialog > section > header > h3 {
	margin: 0.5em 0;
}
.dialog_cancel {
	position: relative;
	right: -8px; top: -8px;
}

#customnationmain h4 {margin: 0.5em 0;}
#customnationmain ul {margin: 0 0 0.25em 0;}
.editidea {
	width: 1.75em;
	height: 1.75em;
	padding: 0;
}

.filters {
	display: flex;
	list-style-type: none;
	padding: 0;
}

thead {
	position: sticky;
	top: 0;
	background: #eee;
}
#ideaoptions thead {background: aliceblue;}

.ideacost {
	display: inline-block;
	width: 1.5em;
	font-weight: bold;
}

.seteffectmode {
	padding: 0;
	/* Enable the buttons when needed, eg after an update that added new ideas */
	display: none;
}

.powers {
	display: flex;
	flex-wrap: wrap;
	max-width: 15em; /* Seems to be enough to fit five out of ten of the biggest ones */
	gap: 0.25em;
}
