@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

* {box-sizing: border-box;}

body, button { /* not sure why buttons don't get this by inheritance */
	font-family: 'Lexend', sans-serif;
	line-height: 1.3;
}
input[type=number] {width: 4.5em;}
label {margin-right: 0.75em;}

.grid {display: grid;}
.grid div {border: 1px solid transparent;}
/* Wall locations */
.grid div.wa {border-top-color: black;}
.grid div.wl {border-left-color: black;}
.grid div.wb {border-bottom-color: black;}
.grid div.wr {border-right-color: black;}
/* The path to the exit (or, what the user THINKS is the path) */
.grid div.path {background: #66339988;}
/* The target location (where the exit is) */
.grid div.exit {background: #ffaa0088;}
/* A dead end, marked by the user. */
.grid div.dead {background: #8888;}
