details {
	border: 1px solid black;
	padding: 10px;
	margin: 10px 0;
	max-width: 60em;
}

#board button {
	width: 2em; height: 2em;
}

button.flat {
	border: none;
}

button.death {
	border: 2px dashed red;
	background: #faa;
}

button.hint_clear {
	border: 2px dashed blue;
}

button.hint_mine {
	border: 2px dashed red;
}

button.region {
	border: 2px dashed green;
}
