---
---

/* Change colours to light mode */
$body-background: #eaeaea;
$body-foreground: #151515;
$header: #007f00;

@import "{{ site.theme }}";

/* Override some styles that don't respect the variables */
body {background: $body-background;}
h1, h2, h3, h4, h5, h6 {color: $header !important;}

/* Improve colour contrast for anchors */
a {color: #3366f5;}

/* Give alternating highlight colours to table rows for Death Whistle */
tr:nth-child(odd)  {background: #fff !important;}
tr:nth-child(even) {background: #f6f8fa !important;}
